*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/checkstyle-idea.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/
.DS_Store
/build
/captures
.externalNativeBuild
